@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font-family: 'Manrope', sans-serif;
}
body {
	min-height: 100vh;
	background-color: $veryPaleBlue;
	display: flex;
	color: $grayishBlue;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
body::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	border-bottom-left-radius: 9rem;
	background-color: $lightGrayishBlueE;
	z-index: -1;
}
p {
	font-size: $fontP;
	color: $grayishBlue;
}
.attribution {
	margin: 3rem;
	font-size: $fontXs;
}
.attribution a {
	color: steelblue;
}
.viewed-times {
	font-weight: 600;
	color: steelblue;
}
