// Colors
//* Primary
$softCyan: hsl(174, 77%, 80%);
$strongCyan: hsl(174, 86%, 45%);
$lightGrayishRed: hsl(14, 92%, 95%);
$lightRed: hsl(15, 100%, 70%);
$paleBlue: hsl(226, 100%, 87%);
$paleBlueShadow: hsla(226, 100%, 87%, 0.1);
//* Neutral
$white: hsl(0, 0%, 100%);
$veryPaleBlue: hsl(230, 100%, 99%);
$lightGrayishBlueE: hsl(224, 65%, 95%);
$lightGrayishBlueBg: hsl(223, 50%, 87%);
$grayishBlue: hsl(225, 20%, 60%);
$darkSaturatedBlue: hsl(227, 35%, 25%);
// Fonts
$fontXs: 0.625rem;
$fontSm: 0.8125rem;
$fontP: 0.9375rem;
$fontH: 1.7625rem;
$fontXl: 2.5rem;
